* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.nav_container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 16px 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.left {
  width: 139px;
}

.center {
  display: flex;
  justify-content: center;
  gap: 32px;
  color: #111;
}

.nav_button {
  font-size: 14px;
  font-weight: 500;
  background-color: #30B868;
  color: #fff;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
}

.header {
  position: relative;
  min-height: 100vh;
  padding: 140px 24px;

  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
}


.header_overlay {
  position: absolute;
}


.header_container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  color: white;
}


.badge {
    display: inline-block;
  background: white;
  color: #30B868;
  padding: 6px 14px;
  border-radius: 1000px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 24px;
}



.header_container h1 {
  font-size: 72px
  font-weight: 700;
  margin-bottom: 16px;
}

.header_container h1 span {
  color: #30B868;
}


.subtext {
  font-size: 18px;
  color: white;
  max-width: 700px;
  margin: 0 auto 32px;
}


.header_actions {
  display: flex;
  justify-content: center;
  gap: 16px;

}


.primary_btn {
  background: #30B868;
  width: 251px;
  color: white;
  padding: 16.5px 28px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.secondary_btn {
  background: transparent;
  color: white;
  padding: 16.5px 28px;
  border-radius: 4px;
  border: 1px solid rgba(209, 184, 184, 0.4);
  font-weight: 600;
  cursor: pointer;
}
