* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.nav_container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 16px 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.left {
  width: 139px;
}

.center {
  display: flex;
  justify-content: center;
  gap: 32px;
  color: #111;
}

.nav_button {
  font-size: 14px;
  font-weight: 500;
  background-color: #30B868;
  color: #fff;
  padding: 10px 18px;
  border: none;
}


